<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>AdNotum</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="rounded-circle" style="width:150px;height:150px;">
        </a>

        <h2 class="navbar-text">Bienvenue sur AdNotum ,{{ session['user_name'] }}</h2>
        <div class="ml-auto">
            
            <form method="POST" action="{{ url_for('logout') }}">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
            </form>
            <br>
            <form method="POST" action="{{ url_for('profil') }}">
                <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Profil</button>
            </form>
        </div>
    </div>
    </nav>
</body>
</html>
