<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupe - {{ group.name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    {% include "header.html" %}
    <div class="container mt-5">
        <h1>Note du Groupe - {{ group.name }}</h1>

        <!-- Section pour afficher la note -->
        <div class="card mt-4">
            <div class="card-header">
                <h2>{{ note.title }}</h2>
            </div>
            <div class="card-body">
                <p>{{ note.content }}</p>
            </div>
        </div>

        {% if session['user_name']==note.owner_name or session['user_name']==group.owner_name%}
            <a href="/supprimer-note-group/{{ group.id}}/{{ note.id }}" class="btn btn-secondary mt-3">Retirer cette note du groupe</a>
        {% endif %}
        
        <!-- Bouton pour revenir à la liste des notes -->
        <a href="/group/{{ group.id }}" class="btn btn-secondary mt-3">Retour au groupe</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>